*{
  margin:0;
  padding:0;
}

.welcome-page {
  margin:0;
  font-family: Ariel, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size:17px;
  color: black;
  line-height:1.6;
}

.wel-page {
 background-image:url('./image/bookimg.jpeg');
 background-size: cover;
 background-position: center;
 height:100vh;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items: center;
 text-align:center;
 padding: 0 20px;
}

.wel-page h2{
font-size: 50px;
}

.wel-page p{
  font-size: 20px;
  }

  .lnk-btn{
   font-size: 18px;
   text-decoration:none;
   color: black;
   border:black 1px solid;
   padding:10px 20px;
   border-radius: 10px;
   margin-top:20px;
  }

  .lnk-btn:hover{
    background:#926239;
    color:black;
  }
  
.container {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fi11, minmax(225px, 1fr));
    gap: 20px;
    font-family: sans-serif; 
   
}

.card{
  text-align: center;
  padding: 10px 20px;
  width: 80%;
  background-color: burlywood;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
  width: 300px;
  height: 400px;
  
}

.bottom-card {
  padding: 5px;
  display: flex;
  justify-content: space-between ;
  background: blanchedalmond;
  font-size: 0.8em;
  border-bottom: 2px solid #cccccc;
}


.book-container {
  background-image:url('./image/pic3.jpeg');
  background-size: cover;
  position: absolute;
  top: 80px; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  
}

.book-form {
  position: absolute;
  top:30%;
  left:50%;
  transform: translate(-40%, -40%);
  width: 300px;
  font-size: 20px;
  text-align: center;
  margin: 40px 0;
  background-color: burlywood;
}

.book-container h3 {
  font-size: 50px;
  margin:15px 0;
  text-align: center;
  color: white;
  
}

.book-form input {
  font-size: 10px;
  padding: 10px;
  width: 90%;

}

.book-form button {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
 padding: 10px 15px;
 width: 50%;
 background-color: #fff;
}


.book-form button:hover {
  color: brown;
}

#image-input {
  font-size: 20px;

}

#like-button {
  color: gray;
  
  font-family: 'Heebo', sans-serif;
  background-color: transparent;
  border: 0.1em solid;
  border-radius: 1em;
  padding: 0.333em 1em 0.25em;
  line-height: 1.2em;
  box-shadow: 0 0.25em 1em -0.25em;
  cursor: pointer;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
  outline: 0;
}

#like-button, a:hover{
  color:brown;
  font-weight: 900;
}

.page-container {

  background-image:url('./image/img8.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

.search-input{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  color: white;
}

.book-header{
  text-align: center;
  font-style: italic;
  color: white;
}

.link-success{
  background-color: burlywood;
  color: brown;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  border: 0.1em solid;
  border-radius: 1em;
  line-height: 1.2em;
  box-shadow: 0 0.25em 1em -0.25em
}

.review-form{
  display: flex;
  align-items: center;
  margin: 100px 0px 0px 0;
  padding: 40px;
  background-color: peru;
  border: 1px solid #ddd;
  flex-direction: column;

}


.commet-list{
  text-align: justify;
  margin: 20px 40%;
  width: 30em;
}